body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  color: red;
  background-color: red;
  display: flex;
  flex-direction: column;
}
  
#root {
  max-width: 80vw;
  min-width: 80vw;
  min-height: 100vh;
  margin: auto;
  padding: 2rem;
  text-align: center;
  background-color: black;
  color: red;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

img {
  max-width: 40%;
  border-radius: 3%;
}

.NavBar a {
  color: white;
  margin: auto;
}

.NavBar a:hover {
  color: black;
}

ul {
  list-style: none;
}

.Header {
  font-size: 5rem;
}

.NavBar {
  background-color: red;
  font-size: 1.25rem;
  display: flex;
  align-items: space-between;
}

.ArticlesContainer {
  display: flex;
  flex-direction: column;
}

.ArticlesHeader {
  font-size: 2rem;
  text-align: center;
}

.SortOrder {
  font-size: 1.25rem;
  text-align: end;
  padding-top: 30px;
}

.SortOrder label {
  margin-right: 10px;
  min-height: 24px;
}

.SortOrder select {
  margin-right: 10px;
  min-height: 24px;
  min-width: 120px;
  background-color: black;
}

.ArticlesCard {
  color: white;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  margin-bottom: 10px;
}

.ArticlesCard a{
  color: red;
}

.ArticlesName {
  text-wrap: wrap;
}

.ArticleContainer {
  display: flex;
  flex-direction: column;
}

.ArticleCard {
  color: white;
}

.ArticleName {
  color: red;
}

.TopicsCard {
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.TopicsCard a{
  color: red;
}

.ExistingCommentCard {
  color: white;
  border-style: solid;
  border-color: red;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}